@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: black;
  /* background-color: burlywood;  это для проверки белых svg на фоне */
}

.navigation__link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  color: black;
}

.welcome {
  background-image: url(../images/index-background.jpg);
  background-repeat: no-repeat;
  width: 1200px;
  height: 485px;
  background-position: center;
}

.welcome__vector {
  background-image: url(../images/divider.svg);
  background-repeat: no-repeat;
  width: 1200px;
  height: 57px;
}

.welcome__title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;

}

.welcome__description {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 36px;
  font-weight: normal;
  text-align: center;
  color: #333333;
}

.advantage__item-city {
  background-image: url(../images/photo-1.jpg);
  background-repeat: no-repeat;
  width: 880px;
  height: 384px;
  background-color: #83B3D3;
  color: #FFFFFF;
}

.advantage__item-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantage__item-number {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
}

.advantage__item-description {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;

}

.advantage__description {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #FFFFFF;
}


.advantage__item-bridge {
  background-image: url(../images/photo-2.jpg);
  background-repeat: no-repeat;
  width: 880px;
  height: 384px;
  background-color: #83B3D3;
  color: #FFFFFF;
}

.extra__item-home {
  background-image: url(../images/house.svg);
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;

}

.extra__item-eat {
  background-image: url(../images/eat.svg);
  background-repeat: no-repeat;
  width: 74px;
  height: 70px;
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;

}

.extra__item-souvenirs {
  background-image: url(../images/souvenir.svg);
  background-repeat: no-repeat;
  width: 64px;
  height: 76px;
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;

}

.extra__item-description {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.search-hotels__title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.search-hotels__description {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #333333;
}

.mailing {
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  width: 1200px;
  height: 411px;
}

.mailing__title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
}

.mailing__description {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #FFFFFF;
  text-align: center;
}

.button__twitter {
  background-image: url(../images/twitter.svg);
  background-repeat: no-repeat;
  width: 18px;
  height: 15px;
}

.button__facebook {
  background-image: url(../images/facebook.svg);
  background-repeat: no-repeat;
  width: 10px;
  height: 18px;
}

.button__youtube {
  background-image: url(../images/youtube.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 16px;
}

.telephone {
  font-family: "PT Sans", sans-serif;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  text-align: center;
}

/* страница гостиницы */

.hotels__background {
  background-image: url(../images/catalog-background\ 1.jpg);
  background-repeat: no-repeat;
}

.breadcrumbs__link {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #FFFFFF;
}

.hotels__form-legend {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
}

.hotels__form-item {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #FFFFFF;
}

.hotels__filter-title {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
}

.hotels__filter-item {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #FFFFFF;
}

.hotels__found {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
}

.hotels__card-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
}

.hotels__card-type {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
}

.hotels__card-price {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
}

.hotels__rating {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
}

.mailing__title-hotels {
  color: black;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  }

  .mailing__description-hotels {
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
}

.sorting__type {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
}

.mailing__input {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
}

.mailing__button {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-transform: uppercase;
}

.button__apply {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-transform: uppercase;
  text-align: center;
}

.button__reset {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #FFFFFF;
  text-align: center;
}

.navigation__button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  background-color: #756257;
}

.search-hotels__link {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  background-color: #756257;
}

.hotels__card-buttom {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  background-color: #756257;
}

.hotels__favorite {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  background-color: #83B3D3;
}

.hotels__favorite-active {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  background-color: #7DB54F;
}

.pagination__select {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.pagination__link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  background-color:#83B3D3;
  color: #FFFFFF;
}

.pagination__current {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  background-color: #F2F2F2;
  color: #000000;
  text-decoration: none;
}
