/* шрифты */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
}

html {
  height: 100%;
}

/* body */
body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: black;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  background-color: #E5E5E5;
  padding: 0;
}

.page__container {
  background-color: #FFFFFF;
  width: 1200px;
  margin: 0 auto;
}

/* header */
.page-header {
  margin: 0;
  padding: 0;
}

/* меню-навигация */
.navigation {
  display: flex;
  justify-content: space-between;
  padding: 0 72px 0 60px;
}

.navigation__list {
  flex-wrap: wrap;
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 19px 0 0 0;
}

.navigation-user {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  min-width: 300px;
  justify-content: flex-end;
 
}

.logo, .logo__sedona {
  margin: 0 23px 0 0;
  padding: 0;
  outline: none;
}

.navigation__link-user {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  position: relative;
  color: black;
  width: 38px;
  height: 38px;
  outline: 5px solid #0000ff;
  outline-offset: -5px; 
  display: block;
}

.navigation__link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  color: black;
  margin: 0 8px 0 0;
  padding: 6px 12px 6px 12px;
  position: relative;
}

.navigation__link-button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #756257;
  margin: 0;
  width: 160px;
  height: 37px;
  padding: 9px 35px 9px 37px;
  border-radius: 4px;
}

.navigation__item-button {
  margin: 18px 0 0 0;
}

.navigation__icon {
  position: absolute;
  top: 10px;
  right: 15px;
  fill: #000000;
}

.navigation__icon-hert {
  position: absolute;
  top: 0px;
  right: 3px;
  fill: #000000;
}

/* состояния ссылок навигации */
.navigation__link:hover {
  color: #756257;
}

.navigation__link:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
  outline: none;
  box-sizing: border-box;
  border-radius: 10px;
  color: #756257;
}

.navigation__link:active {
  color: #756257;
}

.navigation__link-user:hover .navigation__icon {
  fill: #756257;
}

.navigation__link-user:hover .navigation__icon-heart {
  fill: #756257;
}


.navigation__link-user:focus   {
  fill: #756257;
  box-shadow: inset 0 0 0 3px #83B3D3;
  outline: none;
  box-sizing: border-box;
  border-radius: 10px;
}

/* коричневые кнопки */
.button:hover {
  background-color: #615048;
}

.button:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
  outline: none;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #615048;
}

.button:active {
  background-color: #615048;
  color: #756257;
}

.navigation__link-active::before {
  position: absolute;
  right: 10px;
  top: 50px;
  height: 2px;
  width: 70px;
  background-color: #756257;
  content: "";
}

.navigation__link-hotels::before {
  position: absolute;
  right: 20px;
  top: 50px;
  left: 10px;
  height: 2px;
  width: 93px;
  background-color: #756257;
  content: "";
}

/* main */
.main__container {
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  padding: 0;
}

.main__hotels {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

/* первый экран */
.welcome {
  background: url(../images/divider.svg) left bottom no-repeat, url(../images/index-background.jpg)  no-repeat;
  height: 485px;
  margin-top: -9px;
  padding: 0px;
}

.welcome__img {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
}

.welcome__text {
  padding-top: 63px;
  padding-bottom: 79px;
}

.welcome__title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  margin: 0 0 30px 0;
}

.welcome__description {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 36px;
  font-weight: normal;
  text-align: center;
  color: #333333;
  padding: 0;
  margin: 0;
}

/* преимущества (основной список) */
.advantage__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.advantage__item-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 28px 0;
  padding: 0;
}

.advantage__item-description {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  margin: 0;
  padding: 0;
}

.advantage__description {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.advantage__item-number {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  margin: 0 0 30px 0;
  padding: 0;
}

.advantage__item-city .advantage__item-number {
  color: #FFFFFF;
}

.advantage__item-bridge .advantage__item-number {
  color: #FFFFFF;
}

.advantage__item-city {
  background-color: #83B3D3;
  color: #FFFFFF;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 98px 90px 77px 90px;
  min-width: 220px;
}

.advantage__img-city {
  background-image: url(../images/photo-1.jpg);
  background-repeat: no-repeat;
  width: 800px;
  height: 384px;
}

.advantage__container-city {
  display: flex;
  flex-direction: row;
  width: 1200px;
  justify-content: space-between;
}

.advantage__lions {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #83B3D31F;
  padding: 98px 75px 107px 75px;
  min-width: 250px;
}

.advantage__road {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #83B3D333;
  padding: 98px 75px 107px 75px;
  min-width: 250px;
}

.advantage__tourists {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #83B3D31F;
  padding: 98px 75px 107px 75px;
  min-width: 250px;
}

.advantage__container-bridge {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  justify-content: space-between;
}

.advantage__img-bridge {
  background-image: url(../images/photo-2.jpg);
  background-repeat: no-repeat;
  width: 800px;
  height: 384px;
}

.advantage__item-bridge {
  background-color: #83B3D3;
  color: #FFFFFF;
  margin: 0;
  text-align: center;
  min-width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 90px 77px 90px;
}

/* преимущества (вложенный список) */
.extra__list {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.extra__eat {
  min-width: 250px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 184px 75px 89px 75px;
}

.extra__item-eat::before {
  content: "";
  position: absolute;
  top: -90px;
  left: 98px;
  width: 75px;
  height: 72px;
  margin-left: -9px;
  background-image: url(../images/eat.svg);
  background-repeat: no-repeat;
}

.extra__souvenirs {
  min-width: 250px;
  background-color: #83B3D31F;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 184px 75px 89px 75px;
}

.extra__home {
  background-color: #83B3D31F;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 184px 75px 89px 75px;
  min-width: 250px;
}

.extra__item-home::before {
  content: "";
  position: absolute;
  top: -93px;
  left: 98px;
  width: 75px;
  height: 72px;
  margin-left: -9px;
  background-image: url(../images/house.svg);
  background-repeat: no-repeat;
}


.extra__item-home {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 20px 0;
  padding: 0;
  position: relative;
}

.extra__item-eat {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 20px 0;
  padding: 0;
  position: relative;
}

.extra__item-souvenirs::before {
  content: "";
  position: absolute;
  top: -99px;
  left: 100px;
  width: 64px;
  height: 76px;
  margin-left: -9px;
  background-image: url(../images/souvenir.svg);
  background-repeat: no-repeat;
}

.extra__item-souvenirs {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 20px 0;
  padding: 0;
  position: relative;
}

.extra__item-description {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  margin: 0;
  padding: 0;
}

/* поиск гостиницы */

.search-hotels {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  margin: 0;
  padding: 91px 20px 91px 20px;
}

.search-hotels__title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  margin: 0 0 32px 0;
}

.search-hotels__description {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  padding: 0;
  margin: 0 0 58px 0;
}

/* рассылка главная */
.mailing {
  background-image: url(../images/background.jpg);
  height: 411px;
  background-repeat: no-repeat;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0;
}

.mailing__title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  margin: 94px 0 25px 0;
  padding: 0;
}

.mailing__description {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #FFFFFF;
  text-align: center;
  margin: 0 0 48px 0;
  padding: 0;
}

/* footer */
.footer__container {
  display: flex;
  width: 1200px;
  min-height: 120px;
  margin: 0 auto;
  background-color: #FFFFFF;
  justify-content: space-between;
}

.socials {
  margin: 49px 0 0 72px;
}

.social__list {
  width: 120px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}

.social__link {
  margin: 0;
  padding: 0;
}

.academy {
  margin: 0;
  outline: none;
  outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;
}

.academy__logo {
  margin: 4px 0 0 0;
  padding: 10px;
}

.telephone {
  font-family: "PT Sans", sans-serif;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  text-align: center;
  width: 720px;
  /* margin: 0px 0 0 40px; */
  padding: 0;
  outline: none;
}

.telephone:hover {
  color: #756257;
}

.telephone:focus {
  color: #756257;
  border: 3px solid #83B3D3;
  border-radius: 10px;
}

.telephone:active {
  color: #756257;
}

.academy__link:hover .academy__icon {
  fill: #756257;
}

.academy__link:focus .academy__icon {
  fill: #756257;
  border: 3px solid #83B3D3;
  border-radius: 10px;
}

.academy__link:active .academy__icon {
  fill: #756257;
  opacity: 0.3;
}

.academy__link {
  outline: none;
}

.academy__icon {
  fill: black;
  padding: 10px;
  border: 3px solid #FFFFFF;
  border-radius: 10px;
  overflow: none;
}

/* страница гостиницы */
.hotels__background {
  background-image: url(../images/catalog-background\ 1.jpg);
  background-repeat: no-repeat;
  max-width: 1200px;
  height: 408px;
  margin-top: -9px;
  padding: 0px 72px 0px 71px;
}

.hotels__header {
  margin: 0 0 50px 0;
  padding: 33px 0 0 0;
}

.hotels__header-title {
  font-family: "PT Sans", sans-serif;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.breadcrumbs__item {
  padding: 0;
  margin: 0;
}

.breadcrumbs__link {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #FFFFFF;
  text-decoration: none;
  margin: 0px 15px 0 0;
  padding: 5px;
  outline: none;
}

.breadcrumbs__link:hover {
  opacity: 0.6;
}

.breadcrumbs__link:active {
  opacity: 0.3;
}

.breadcrumbs__link:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
}

.breadcrumbs__link::before {
  position: absolute;
  content: "";
  background-image: url(../images/link.svg);
  background-repeat: no-repeat;
  width: 5px;
  height: 8px;
  top: 12px;
  left: 23px;
}

.breadcrumbs__link-home {
  margin-right: 20px;
  outline: none;
}

.breadcrumbs__link-home:hover {
  opacity: 0.6;
}

.breadcrumbs__link-home:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
}

.breadcrumbs__link-home:active {
  opacity: 0.3;
}

.breadcrumbs {
  list-style-type: none;
  display: flex;
  align-self: flex-start;
  flex-wrap: wrap;
  margin: -10px 0;
  padding: 0;
  position: relative;
}

.hotels__form-infrastructure {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  width: 150px;
  margin: 0 0 30px 0;
}

.hotels__infrastructure-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.range__toggle {
  margin-right: 313px;
}

.hotels__housing-item {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #FFFFFF;
  width: 150px;
  margin: 0 0 12px 0;
  padding: 0 0 0 39px;
}

.hotels__form-housing {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  width: 150px;
  margin: 0 0 30px 0;
}

.hotels__housing-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hotels__filter-price {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  width: 150px;
}

.buttons__sorting {
  list-style-type: none;
  display: flex;
  width: 160px;
  margin-left: auto;
  margin-top: 0;
  justify-content: space-between;
}

.button__sorting {
  margin: auto;
  padding: 0;
}

.buttons__sorting-link {
  width: 44px;
  height: 44px;
  display: flex;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  outline: none;
}

.buttons__sorting-link:hover {
  border: 2px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
}

.buttons__sorting-link:focus {
  border: 2px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
}

.buttons__sorting-link:active {
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
}

.button__active {
  border: 2px solid #000000;
}

.buttons__sorting-link:hover {
  border: 2px solid #83B3D3;
}

.buttons__sorting-link:focus {
  border: 2px solid #83B3D3;
}







.hotels__infrastructure-item {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #FFFFFF;
  margin: 0 0 13px 0;
  padding: 0 0 0 39px;
}

.hotels__found {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 192px 0 0;
  padding: 0;
}

.hotels__list {
  display: grid;
  grid-template-rows: 123px 123px 123px 123px;
  row-gap: 58px;
  padding: 0;
  list-style-type: none;
  margin: 0 0 31px 0;
}

.hotels__card-img {
  margin: 0;
}

.hotels__card-img:hover{
  opacity: 0.6;
}

.hotels__card-img:focus{
  border: 3px solid #83B3D3;
}

.hotels__card-img:active{
  opacity: 0.3;
}

.hotels__card {
  display: grid;
  grid-template-rows: 31px 55px 37px;
  grid-template-columns: 180px 36px 151px 8px 160px 361px 160px;
  margin: 0;
  position: relative;

}

.hotels__card::after {
  content: "";
  position: absolute;
  border-top: 1px solid #E5E5E5;
  width: 1056px;
  top: -28px;
}



.hotels__card .hotels__card-link {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.hotels__card .hotels__title-link {
  grid-column: 3 / 6;
  grid-row: 1 / 2;
}

.hotels__card-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.hotels__card .hotels__card-type {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
  padding: 0;
  margin: 0;
  grid-row: 2 / 3;
  grid-column: 3 / 5;
}

.hotels__card .hotels__card-price {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
  padding: 0;
  margin: 0;
  grid-row: 2 / 3;
  grid-column: 5 / 6;
}

.hotels__rating {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  grid-row: 3 / 4;
  grid-column: 7 / 8;

}

.stars {
  grid-row: 1 / 2;
  grid-column: 7 / 8;
  justify-self: center;
  align-self: center;
}



.mailing__description-hotels {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  margin: 0 0 46px 0;
  padding: 0;

}

.mailing__form {
  margin: 0;
  padding: 0;
}

.sorting__type {
  position: relative;
  margin: 0;
}

.select__control:hover {
  border: 2px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
}

.select__control:focus {
  border: 2px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
}

.select__control:active {
  opacity: 0.3;
}

.sorting__type::before {
  content: "";
  position: absolute;
  background-image: url(../images/link-sorting.svg);
  background-repeat: no-repeat;
  width: 12px;
  height: 7px;
  right: 21px;
  top: 25px;
}

.select__control {
  padding: 12px 20px 12px 19px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
  width: 287px;
  margin: 0;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

.mailing__input {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  width: 580px;
  height: 60px;
  padding-left: 22px;
  border-radius: 10px 0px 0px 10px;
  border: 0;
  margin: 0;
  background-color: #F2F2F2;
}

.mailing__input:hover {
  background-color: #E5E5E5;
}

.mailing__input:focus {
  background-color: #E5E5E5;
  border: 3px solid #83B3D3;
}

.mailing__input:active {
  background-color: #FFFFFF;
  border: 2px solid #000000;
}

.mailing__input:invalid {
  background-color: #FFFFFF;
  border: 2px solid #FF5757;
}

.social__icon {
  fill: #83B3D3;

}

.social__icon:hover {
  fill: #68A2CA;
}

.social__icon:focus {
  fill: #68A2CA;
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
}


.social__icon:active {
  fill: #68A2CA;
  opacity: 0.3;
}





.mailing__button {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-transform: uppercase;
  outline: none;
  border: 0;
  border-radius: 0px 10px 10px 0px;
  margin: 0;
  padding: 15px 34px 14px 34px;
  box-sizing: border-box;
  cursor: pointer;
}

.button__blue:hover {
  background-color: #68A2CA;
}

.button__blue:focus {
  background-color: #68A2CA;
  border: 3px solid #756257;
}

.button-blue:active {
  color: #83B3D333;
}


.button__social {
  margin-right: 0px;
}

.button__apply {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-transform: uppercase;
  text-align: center;
  border: 0;
  padding: 16px 34px 17px 33px;
  border-radius: 4px;
  cursor: pointer;
}

.button__apply:hover {
  background: #68A2CA;
}

.button__apply:focus {
  background: #68A2CA;
  border: 3px solid #FFFFFF;
  border-radius: 4px;
}

.button__apply:active {
  background: #68A2CA;
}


.button__reset {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #FFFFFF;
  text-align: center;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.button__reset:hover {
  opacity: 0.6;
}

.button__reset:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
}

.button__reset:active {
  opacity: 0.3;
}


.search-hotels__link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  background-color: #756257;
  text-decoration: none;
  width: 575px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 13px;
  border-radius: 10px;

}

.hotels__card-button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  background-color: #756257;
  text-decoration: none;
  grid-row: 3 / 4;
  grid-column: 3 / 4;
  margin: 0;
  padding-top: 9px;
  border-radius: 4px;

}

.hotels__favorite {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  background-color: #83B3D3;
  border: 0;
  grid-row: 3 / 4;
  grid-column: 5 / 6;
  border-radius: 4px;
  cursor: pointer;
}

.hotels__favorite-active {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  background-color: #7DB54F;
  border: 0;
  grid-row: 3 / 4;
  grid-column: 5 / 6;
  border-radius: 4px;
  cursor: pointer;
}

.hotels__favorite-active:hover {
  background-color: rgba(108, 158, 66, 1);
}

.hotels__favorite-active:focus {
  background-color: rgba(108, 158, 66, 1);
  border: 3px solid #756257;
  border-radius: 4px;
}

.hotels__favorite-active:active {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(108, 158, 66, 1);
}

.hotels__rating {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  background-color: #F2F2F2;
  color: #333333;
  padding-top: 9px;
  border-radius: 4px;

}

.hotels__title-link {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  position: relative;
}

.hotels__title-link:hover {
  color: #756257;
}

.hotels__title-link:focus {
  color: #756257;
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
}

.hotels__title-link:active {
  color: #756257;
  opacity: 0.3;
}

.hotels__search {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.hotels__form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}



.hotels__buttoms {
  display: flex;
  flex-direction: column;
  margin-left: 81px;
  justify-content: center;
}

.hotels__catalog {
  display: flex;
  width: 1056px;
  margin: 0px 72px 31px 72px;
  flex-direction: column;
  position: relative;
}

/* кнопка "Загрузить еще" на странице выбора гостиниц */
.botton__show-more {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  background-color:#83B3D3;
  color: #FFFFFF;
  border: 0;
  text-transform: uppercase;
  width: 625px;
  margin-top: 31px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 18px;
  height: 55px;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}

.botton__show-more::after {
  content: "";
  position: absolute;
  border-top: 1px solid #E5E5E5;
  width: 1056px;
  top: -28px;
  left: -215px;
}

.botton__show-more::before {
  content: "";
  position: absolute;
  border-top: 1px solid #E5E5E5;
  width: 1056px;
  top: 90px;
  left: -215px;
}


/* рассылка на странице с гостиницами */

.mailing__hotels {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 800px;
  margin: 0;
  padding: 89px 200px 137px 200px;


}

.mailing__title-hotels {
  color: black;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 26px 0;
  padding: 0;
  }


.mailing__input {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mailing__input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}



.hotels__found-container {
  display: flex;
  flex-direction: row;
  width: 1057px;
  margin: 45px 72px 42px 71px;
  padding: 0;
  /* outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px; */
}


/* пагинация */

.pagination__container {
  display: flex;
  margin-top: 43px;
  width: 1056px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.pagination__list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pagination__link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: #83B3D3;
  margin-right: 8px;
  border-radius: 4px;
}

.pagination__current {
  background-color: #F2F2F2;
  color: #000000;
  border-radius: 4px;

}

.pagination__form {
  margin-left: auto;
  position: relative;

  /* outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px; */
}

.pagination__select {
  padding: 13px 10px 12px 17px;
  width: 160px;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  cursor: pointer;
  outline: none;
}

.pagination__select:hover {
  border: 2px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
}

.pagination__select:focus{
  border: 2px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
}

.pagination__select:active {
  opacity: 0.3;
}

.pagination__form::before {
  content: "";
  position: absolute;
  background-image: url(../images/link-sorting.svg);
  background-repeat: no-repeat;
  top: 21px;
  right: 20px;
  width: 12px;
  height: 12px;
}

.pagination__select-title {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  margin: 0px 45px 0 0;
  padding: 5px 0 0 0;
}

/* скрытые надписи и кнопки */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hotels__filter-group {
  margin: 0 100px 0 0;
  padding: 0;
  border: 0;
}

.hotels__form-fieldset {
  margin: 0 60px 0 0;
  padding: 0;
  border: 0;
}

.control {
  position: relative;
  display: block;
}

/* Mark */
.control__mark {
  position: absolute;
  top: 2px;
  left: -38px;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 4px;
}

.control:hover .control__mark {
  background: rgba(255, 255, 255, 0.6);
}

.control:focus .control__mark {
  background: rgba(255, 255, 255, 0.6);
  border: 3px solid #83B3D3;
}

.control:active .control__mark {
  background: rgba(255, 255, 255, 0.3);
}


.control__input[type="checkbox"]:checked + .control__mark::before {
  position: absolute;
  top: 6px;
  left: 4px;
  background-image: url(../images/Vector-chek.svg);
  background-repeat: no-repeat;
  content: "";
  width: 12px;
  height: 10px;
}

.control__input[type="radio"] + .control__mark {
  border-radius: 50%;
}

.control__input[type="radio"]:checked + .control__mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

.hotels__filter-price {
  margin: 0;
  padding: 0;
  border: 0px;
}

.range__scale {
  position: relative;
  width: 287px;
  height: 4px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 1);
  margin-top: 32px;

}

.range__bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
}

.range__toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -8px;
  background: #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
  border: 0;
  outline: none;
}

.range__toggle:hover {
  background: #FFFFFF;
}

.range__toggle:focus {
  background: #FFFFFF;
  border: 3px solid #83B3D3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range__toggle:active {
  background: #FFFFFF;
  border: 3px solid #83B3D3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.toggle__max {
  top: -8px;
  left: 227px;
}

.toggle__min {
  top: -8px;
  left: 0px;
}

.range__wrapper-inputs {
  display: flex;
  justify-content: flex-start;
  width: 287px;
  height: 48px;
  position: relative;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 4px;
}

.range__wrapper-inputs::before{
  content: "";
  position: absolute;
  border-right: 2px solid #FFFFFF;
  height: 46px;
  top: 0;
  left: 143px;
}

.hotels__price-input {
  display: flex;

}

.hotels__filter-input {
  background-color: transparent;
  border: none;
  appearance: textfield;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  text-align: start;
  color: #FFFFFF;
  width: 143px;
  height: 48px;
  padding: 0;
  margin: 0;
}

.navigation__item-user {
  position: relative;
  width: 38px;
  height: 38px;
  outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;
  margin: 15px 0 0 0;
}

.navigation__item-user:nth-child(2) {
  margin: 15px 20px 0 0;
}

.navigation__item-user:last-child {
  margin: 0;
}


.popover {
  background-color: #FFFFFF;
  width: 400px;
  min-height: 232px;
  position: absolute;
  border: 1px solid #E6E6E6;
  box-sizing: border-box;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  top: 40px;
  right: -170px;
  display: none;
}

.popover-content {
  height: 100%;
}



.popover__favorite-list {
  list-style-type: none;
  margin: 0 0 26px 0;
  padding: 0;
}

.popover__favorite-item {
  grid-template-columns: 25px 48px 17px 244px 66px;
  grid-template-rows: 28px 24px 24px ;
  display: grid;
}

.popover__favorite-img {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
}


.popover__favorite-link {
  text-decoration: none;
}

.popover__favorite-title {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 700;
  text-align: start;
  color: #000000;
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

.popover__favorite-decription {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 400;
  text-align: start;
  color: #000000;
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.icon__del {
  fill: #000000;
  opacity: 0.2;
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}

.popover__favorite-button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  background: #756257;
  border-radius: 0px 0px 20px 20px;
  width: 400px;
  text-transform: uppercase;
  width: 400px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* модальное окно */

.modal__container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  padding: 62px 70px 70px 70px;
  background-color: #FFFFFF;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  width: 580px;
  height: 430px;
}

.modal__close-button {
  position: absolute;
  padding: 0;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  background-color: #F2F2F2;
  border-radius: 50%;
  border: none;
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
} 

.modal__title {
  margin: 0 0 68px 0;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.modal__search-form {
  display: grid;
  grid-template-rows: 55px 40px 50px 40px 50px 40px 60px;
  grid-template-columns: 110px 133px 56px 54px 26px 17px 190px;
}

.modal__search-arrival {
  font-family: PT Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
  margin: 0;
  padding: 0;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.modal__date-arrival {
  grid-column: 3 / 8;
  grid-row: 1 / 2;
}

.modal__description-error {
  font-family: PT Sans, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: #FF5757;
  margin: 0;
  padding: 0;
  grid-column: 3 / 8;
}

.modal__search-departure {
  font-family: PT Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
  margin: 0;
  padding: 0;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.modal__date-departure {
  grid-column: 3 / 8;
  grid-row: 3 / 4;
}

.modal__description {
  font-family: PT Sans, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: #000000;
  margin: 0;
  padding: 0;
  grid-row: 4 / 5;
  grid-column: 3 / 8;
}

.adults, .adults__number {
  font-family: PT Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
  margin: 0;
  padding: 0;
}

.modal__search-adults {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
}

.child, .child__number {
  font-family: PT Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
  margin: 0;
  padding: 0;
}

.modal__button {
  font-family: PT Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  color: #FFFFFF;
  margin: 0;
  text-transform: uppercase;
  background-color: #83B3D3;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  grid-column: 1 / 8;
  grid-row: 7 / 8;
}

.adults__container {
  grid-column: 3 / 4;
}

.child {
  grid-column: 4 / 5;
}

.child__info {
  grid-column: 6 / 7;
}

.modal__search-child {
  grid-column: 7 / 8;
}

/* для обозначения границ
outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px; */

