/* шрифты */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
}

html {
  height: 100%;
}

/* body */
body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: black;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  background-color: #E5E5E5;
  padding: 0;
}

.page__container {
  background-color: #FFFFFF;
  width: 1200px;
  margin: 0 auto;
}

/* header */
/* меню-навигация */
.page-header {
  margin: 0;
  padding: 0;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 0 72px 0 71px;
  /* outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px; */
}

.navigation__list {
  flex-wrap: wrap;
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 19px 0 0 0;
  /* margin: 0 120px 0 0; */
  /* padding-top: 19px;
  padding-left: 0; */
}

.navigation-user {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 19px 0 0 10px;




}

.logo, .logo__sedona {
  margin: 0;
  padding: 0;
}

.navigation__link-user {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  position: relative;
  color: black;
  margin: 0;
  padding: 20px;

}

.navigation__link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  color: black;
  margin: 0;
  padding: 10px 33px 10px 0;
}


.navigation__link-button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #756257;
  margin: 0;
  width: 160px;
  height: 37px;
  padding: 9px 35px 10px 35px;
  border-radius: 4px;
}

.navigation__icon {
  position: absolute;
  top: 25px;
  right: 35px;
}

.navigation__icon-heart {
  position: absolute;
  top: 15px;
  right: 20px;
}

/* main */
.main__container {
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  padding: 0;

}

.main__hotels {
  width: 1200px;
  margin: 0 auto;
  padding: 0;

}

/* первый экран */
.welcome {
  background: url(../images/divider.svg) left bottom no-repeat, url(../images/index-background.jpg)  no-repeat;
  height: 485px;
  margin-top: -9px;
  padding: 0px;
}

.welcome__img {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
}

.welcome__text {
  padding-top: 63px;
  padding-bottom: 79px;
}

.welcome__title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  margin: 0 0 30px 0;
}

.welcome__description {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 36px;
  font-weight: normal;
  text-align: center;
  color: #333333;
  padding: 0;
  margin: 0;
}

/* преимущества (основной список) */
.advantage__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.advantage__item-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 28px 0;
  padding: 0;
}

.advantage__item-description {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  margin: 0;
  padding: 0;

}

.advantage__description {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.advantage__item-number {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  margin: 0 0 30px 0;
  padding: 0;
}

.advantage__item-city .advantage__item-number {
  color: #FFFFFF;
}

.advantage__item-bridge .advantage__item-number {
  color: #FFFFFF;
}

.advantage__item-city {
  background-color: #83B3D3;
  color: #FFFFFF;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 98px 90px 77px 90px;
  min-width: 220px;
}

.advantage__img-city {
  background-image: url(../images/photo-1.jpg);
  background-repeat: no-repeat;
  width: 800px;
  height: 384px;
}

.advantage__container-city {
  display: flex;
  flex-direction: row;
  width: 1200px;
  justify-content: space-between;
}

.advantage__lions {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #83B3D31F;
  padding: 98px 75px 107px 75px;
  min-width: 250px;

}

.advantage__road {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #83B3D333;
  padding: 98px 75px 107px 75px;
  min-width: 250px;
}

.advantage__tourists {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #83B3D31F;
  padding: 98px 75px 107px 75px;
  min-width: 250px;
}

.advantage__container-bridge {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  justify-content: space-between;
}

.advantage__img-bridge {
  background-image: url(../images/photo-2.jpg);
  background-repeat: no-repeat;
  width: 800px;
  height: 384px;
}

.advantage__item-bridge {
  background-color: #83B3D3;
  color: #FFFFFF;
  margin: 0;
  text-align: center;
  min-width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 98px 90px 77px 90px;
}

/* преимущества (вложенный список) */
.extra__list {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.extra__eat {
  min-width: 250px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 184px 75px 89px 75px;
}

.extra__item-eat::before {
  content: "";
  position: absolute;
  top: -89px;
  left: 98px;
  width: 75px;
  height: 72px;
  margin-left: -9px;
  background-image: url(../images/eat.svg);
  background-repeat: no-repeat;
}

.extra__souvenirs {
  min-width: 250px;
  background-color: #83B3D31F;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 184px 75px 89px 75px;
}

.extra__home {
  background-color: #83B3D31F;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 184px 75px 89px 75px;
  min-width: 250px;

}

.extra__item-home::before {
  content: "";
  position: absolute;
  top: -89px;
  left: 100px;
  width: 75px;
  height: 72px;
  margin-left: -9px;
  background-image: url(../images/house.svg);
  background-repeat: no-repeat;
}


.extra__item-home {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 20px 0;
  padding: 0;
  position: relative;
}

.extra__item-eat {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 20px 0;
  padding: 0;
  position: relative;
}

.extra__item-souvenirs::before {
  content: "";
  position: absolute;
  top: -89px;
  left: 100px;
  width: 64px;
  height: 76px;
  margin-left: -9px;
  background-image: url(../images/souvenir.svg);
  background-repeat: no-repeat;
}

.extra__item-souvenirs {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 20px 0;
  padding: 0;
  position: relative;
}

.extra__item-description {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  margin: 0;
  padding: 0;

}

/* поиск гостиницы */

.search-hotels {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  margin: 0;
  padding: 91px 20px 91px 20px;
}

.search-hotels__title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  margin: 0 0 32px 0;
}

.search-hotels__description {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  padding: 0;
  margin: 0 0 58px 0;
}

/* рассылка главная */
.mailing {
  background-image: url(../images/background.jpg);
  height: 411px;
  background-repeat: no-repeat;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
  padding: 0;
}

.mailing__title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  margin: 0px 0 35px 0;
  padding: 0;
}

.mailing__description {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #FFFFFF;
  text-align: center;
  margin: 0 0 26px 0;
  padding: 0;
}

/* footer */
.footer__container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  padding-top: 40px;
}

.social__list {
  width: 110px;
  margin: 0 0 0 70px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}

.twitter {
  padding: 10px;

}

.facebook {
  padding: 10px;
  margin: 0;
}

.youtube {
  padding: 10px;
  margin: 0;
}



.academy {
  margin-left: auto;
  margin-right: 72px;
  margin-bottom: 44px;
  padding: 0;
}

.academy__logo {
  width: 115px;
  margin: 4px 0 0 0;
}

.telephone {
  font-family: "PT Sans", sans-serif;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  text-align: center;
  width: 720px;
  margin: 0px 0 0 40px;
  padding: 0;
}


/* страница гостиницы */

.hotels__background {
  background-image: url(../images/catalog-background\ 1.jpg);
  background-repeat: no-repeat;
  max-width: 1200px;
  height: 408px;
  margin-top: -9px;
  padding: 30px 72px 83px 71px;
}

.hotels__header {

  margin: 0;
  padding: 0;

}

.hotels__header-title {
  font-family: "PT Sans", sans-serif;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  /* outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px; */
}

.breadcrumbs__item {
  padding: 0;
  margin: 0;
  /* outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px; */
}

.breadcrumbs__link {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #FFFFFF;
  text-decoration: none;
  margin: 0px 15px 0 0;
  padding: 5px;

  /* outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px; */
}

.breadcrumbs__link::before {
  position: absolute;
  content: "";
  background-image: url(../images/link.svg);
  background-repeat: no-repeat;
  width: 5px;
  height: 8px;
  top: 12px;
  left: 23px;
}

.breadcrumbs__link-home {
  margin-right: 20px;
}


.breadcrumbs {
  list-style-type: none;
  display: flex;
  align-self: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  position: relative;
}

.hotels__form-infrastructure {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  width: 150px;
  margin-left: 71px;

}

.hotels__form-infrastructure{
  margin-left: 71px;
}

.hotels__infrastructure-list {
  margin-left: 71px;
  list-style-type: none;
}

.range__toggle {
  margin-right: 313px;
}

.hotels__housing-item {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #FFFFFF;
  width: 150px;
}

.hotels__form-housing {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  width: 150px;

}

.hotels__housing-list {
  list-style-type: none;
}

.hotels__filter-price {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  width: 150px;

}

.buttons__sorting {
  list-style-type: none;
  display: flex;
  width: 160px;
  margin-left: auto;
  justify-content: space-between;
}

.button__tile-link {
  padding: 10px;
  width: 48px;
  height: 48px;

}

.button__slide-link {
  padding: 10px;
  width: 48px;
  height: 48px;
}

.button__list-link {
  padding: 10px;
  width: 48px;
  height: 48px;
}

.hotels__list {
  list-style-type: none;

}

.hotels__infrastructure-item {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #FFFFFF;
}

.hotels__found {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 192px;
  padding: 0;

}

.hotels__list {
  display: grid;
  grid-template-rows: 123px 123px 123px 123px;
  row-gap: 52px;
  margin: 0 0 30px 0;
  padding: 0;

}

.hotels__card {
  display: grid;
  grid-template-rows: 31px auto 37px;
  grid-template-columns: 180px 46px 151px 8px 160px 361px 160px;

}

.hotels__card .hotels__card-link {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.hotels__card .hotels__title-link {
  grid-column: 3 / 6;
  grid-row: 1 / 2;

}

.hotels__card-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.hotels__card .hotels__card-type {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
  padding: 0;
  margin: 0;
  grid-row: 2 / 3;
  grid-column: 3 / 5;
}

.hotels__card .hotels__card-price {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
  padding: 0;
  margin: 0;
  grid-row: 2 / 3;
  grid-column: 5 / 6;
}

.hotels__rating {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  grid-row: 3 / 4;
  grid-column: 7 / 8;
}



.mailing__description-hotels {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  margin: 0 0 26px 0;
  padding: 0;

}

.mailing__form {
  margin: 0;
  padding: 0;
}

.sorting__type {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
  width: 287px;
  margin-top: 44px;
}

.mailing__input {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  width: 600px;
  height: 60px;
  padding-left: 22px;
  border-radius: 10px 0px 0px 10px;
  border: 0;
  margin: 0;
  background-color: #F2F2F2;

}

.mailing__button {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-transform: uppercase;
  outline: none;
  border: 0;
  border-radius: 0px 10px 10px 0px;
  margin: 0;

}

.button__apply {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-transform: uppercase;
  text-align: center;
  border: 0;
}

.button__reset {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #FFFFFF;
  text-align: center;
  border: 0;
  background: transparent;
}



.search-hotels__link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  background-color: #756257;
  text-decoration: none;
  width: 575px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 13px;
  border-radius: 10px;

}

.hotels__card-button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  background-color: #756257;
  text-decoration: none;
  grid-row: 3 / 4;
  grid-column: 3 / 4;
  margin: 0;
  padding-top: 9px;
  border-radius: 4px;

}

.hotels__favorite {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  background-color: #83B3D3;
  border: 0;
  grid-row: 3 / 4;
  grid-column: 5 / 6;
  border-radius: 4px;
}

.hotels__favorite-active {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  background-color: #7DB54F;
  border: 0;
  grid-row: 3 / 4;
  grid-column: 5 / 6;
  border-radius: 4px;
}




.hotels__rating {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  background-color: #F2F2F2;
  color: #333333;
  padding-top: 9px;
  border-radius: 4px;

}

.hotels__title-link {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.hotels__search {
  display: flex;
  flex-direction: row;
}

.hotels__form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}



.hotels__buttoms {
  display: flex;
  flex-direction: column;
  margin-left: 81px;
  justify-content: center;
}

.hotels__catalog {
  display: flex;
  width: 1056px;
  margin: 0 auto;
  flex-direction: column;
}

/* кнопка "Загрузить еще" на странице выбора гостиниц */
.botton__show-more {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  background-color:#83B3D3;
  color: #FFFFFF;
  border: 0;
  text-transform: uppercase;
  width: 625px;
  margin-top: 31px;
  margin-left: auto;
  margin-right: auto;
  height: 55px;
  border-radius: 4px;
}

/* рассылка на странице с гостиницами */

.mailing__hotels {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 800px;
  margin: 0;
  padding: 89px 200px 137px 200px;


}

.mailing__title-hotels {
  color: black;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 15px 0;
  padding: 0;
  }


.mailing__input {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mailing__input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}



.hotels__found-container {
  display: flex;
  flex-direction: row;
  width: 1057px;
  margin: 0 auto;
  padding: 0;
}


/* пагинация */

.pagination__container {
  display: flex;
  margin-top: 43px;
  width: 1056px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.pagination__list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pagination__link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: #83B3D3;
  margin-right: 8px;
  border-radius: 4px;
}

.pagination__current {
  background-color: #F2F2F2;
  color: #000000;
  border-radius: 4px;

}

.pagination__form {
  margin-left: auto;
}

/* скрытые надписи и кнопки */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}



/* для обозначения границ
outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px; */

